<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee ,http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Cinema_Ticket_BookingSystem_CA4</display-name>
  
  <servlet>
    <description></description>
    <display-name>SendEmail</display-name>
    <servlet-name>SendEmail</servlet-name>
    <servlet-class>com.LES.SendEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendEmail</servlet-name>
    <url-pattern>/SendEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>downloadTicket</display-name>
    <servlet-name>downloadTicket</servlet-name>
    <servlet-class>com.LES.downloadTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadTicket</servlet-name>
    <url-pattern>/downloadTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.LES.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>